@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    font-family: Roboto;
    color: rgb(250, 250, 250);
    font-weight: 500;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: auto;
}

.user-input{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
  text-shadow: none;
}

input{
  width: 250px;
  background: transparent;
  color: white;
  border: 2px white solid;
  border-radius: 20px;
  padding-left: 10px;
  height: 20px;
  font-size: .95em;
  font-weight: 500;
  outline: none;
}

.fa-solid{
  font-size: 1.3em;
  /*
  text-shadow: 1px 1px 2px rgb(25 25 25);
  */
}

.current-container{
  display: grid;
  grid-template-rows: repeat(8, minmax(min-content, max-content));
  grid-template-columns: 100px auto;
  text-shadow: 1px 1px 2px rgb(75 75 75);
  gap: 5px;
}

.city{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 3em;
}

.current-date{
  grid-row: 2/3;
  grid-column: 1/3;
}

.current-main{
  display: grid;
  grid-template-columns: 100px auto auto 1fr;
  grid-row: 3/4;
  grid-column: 1/3;
  column-gap: 15px;
  align-items: center;
}

.current-img-container{
  grid-column: 1/2;
}

.current-img{
  height:100px;
}

.current-temp{
  grid-column: 2/3;
  font-size: 6em;
}

.current-side{
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  font-size: 1.25em;
}

.current-hi-lo{
  display: grid;
  grid-template-columns: 45px 1fr;
  gap: 5px;
}

.current-hi,
.current-low{
  display: grid;
  grid-template-columns: 30px 1fr;
}

.current-other{
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 5px;
}

.forecast-container{
  display: grid;
  grid-row: 3/4;
  gap: 5px;
  font-weight: 600;
  text-shadow: -1px 1px 5px rgb(25 25 25);
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  background-color: rgb(0,0,0,0.5);
  padding: 10px;
}

.day-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.month-date{
  grid-row: 1/2;
  grid-column: 2/4;
}

.day-name{
  grid-row: 2/3;
  grid-column: 2/4;
}

.day-container > img{
  height: auto;
  width: 75px;
  grid-column: 1/2;
  grid-row: 1/4;
}